USE [master]
GO
/****** Object:  Database [RFID]    Script Date: 2020/11/28 15:33:05 ******/
CREATE DATABASE [RFID]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RFID', FILENAME = N'D:\SQLserver\MSSQL15.MSSQLSERVER\MSSQL\DATA\RFID.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RFID_log', FILENAME = N'D:\SQLserver\MSSQL15.MSSQLSERVER\MSSQL\DATA\RFID_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RFID].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RFID]
GO
/****** Object:  Table [dbo].[Area_divide_table]    Script Date: 2020/11/28 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_divide_table](
	[Areaname] [varchar](10) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[Rage] [int] NOT NULL,
	[Opentime] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Area_divide_table] PRIMARY KEY CLUSTERED 
(
	[Areaname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area_statistic_table]    Script Date: 2020/11/28 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area_statistic_table](
	[Areaname] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Date] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Area_statistic_table] PRIMARY KEY CLUSTERED 
(
	[Areaname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_table]    Script Date: 2020/11/28 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_table](
	[Id] [int] NOT NULL,
	[Orderdate] [varchar](10) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Idnumber] [bigint] NOT NULL,
 CONSTRAINT [PK_Order_table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_statistic_table]    Script Date: 2020/11/28 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_statistic_table](
	[IdOfPayment] [int] NOT NULL,
	[Id] [int] NOT NULL,
	[TimeOfPay] [varchar](10) NOT NULL,
	[Areaname] [varchar](10) NOT NULL,
	[Payment] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Payment_statistic_table] PRIMARY KEY CLUSTERED 
(
	[IdOfPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_table]    Script Date: 2020/11/28 15:33:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_table](
	[Id] [int] NOT NULL,
	[Flag] [bit] NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Sex] [varchar](10) NOT NULL,
	[Role] [varchar](10) NOT NULL,
	[Money] [int] NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Idnumber] [bigint] NOT NULL,
 CONSTRAINT [PK_User_table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
